#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside{
    flex: 6;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img{
      max-width: 320px;
    }

    strong{
      font: 700 30px 'Poppins', sans-serif;
      line-height: 36px;
      margin-top: 16px;
    }

    p{
      font-size: 18px;
      line-height: 24px;
      margin-top: 16px;
      color: #f8f8f8dd;
    }
  }

  main{
    flex: 9;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img{
      align-self: center;
    }

    h2{
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form{
      input{
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }
      
      button{
        margin-top: 16px;
      }

      button, input{
        width: 100%;
      }
    }
    
    p{
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a{
        color: #e559f9;
      }
    }
    .create-room, .btn-login, .btn-outher-account{
      margin-top: .4rem;
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background: #ea4335;
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 0;

      transition: filter .2s;

      img{
        margin-right: 8px;
      }

      &:hover{
        filter: brightness(.9);
      }
    }
    .btn-outher-account{
      background: #a8a8b3;
    }
    .create-room{
      margin-top: 2rem;
    }
    .separator{
      font-size: 14px;
      color: #a8a8b3;

      margin: 32px 0;
      display: flex;
      align-items: center;

      &::before{
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-right: 16px;
      }

      &::after{
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-left: 16px;
      }
    }
  }
  // THEME DARK
  &.theme-dark{
    aside{
      background: #2f1c6b;
      color: #bbc;
      
      p{
        color: #99a;
      }
    }
    h2{ color: #bbc; }
    .create-room, .btn-login{ background: #bb1b0d; }
    input{
      background: rgba(255,255,255,0.02) !important;
      color: #889;
    }
    .button{ background: #2f1c6b; }
  }
}
@media (max-width: 768px){
  aside{
    display: none !important;
  }
}